
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" style="width:100%;height:100%;">

<head>
    <title>FMS 管理平台</title>
    <div th:remove="all">
        <title>XXX-管理平台</title>
        <meta charset="utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <!-- Tell the browser to be responsive to screen width -->
        <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport"/>
        <!-- Bootstrap 3.3.6 -->
        <link rel="stylesheet" href="../bootstrap/css/bootstrap.min.css"/>
        <!-- Font Awesome -->
        <link rel="stylesheet" href="../../dist/third/font-awesome.min.css"/>
        <!-- Ionicons -->
        <link rel="stylesheet" href="../dist/third/ionicons.min.css"/>

        <!-- Theme style -->
        <link rel="stylesheet" href="../dist/css/AdminLTE.min.css"/>
        <!-- AdminLTE Skins. Choose a skin from the css/skins
             folder instead of downloading all of them to reduce the load. -->
        <link rel="stylesheet" href="../dist/css/skins/_all-skins.min.css"/>

        <!-- iCheck -->
        <link rel="stylesheet" href="../plugins/iCheck/square/blue.css"/>

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
    </div>
    <div th:replace="head"></div>
    
</head>

<body class="hold-transition skin-blue sidebar-mini " style="width:100%;height:100%;">
<div class="wrapper" style="width:100%;height:100%;">

    <header class="main-header" th:remove="all">

        <!-- Logo -->
        <a href="@{/}" class="logo">
            <span class="logo-mini"><b>管理平台</b></span>
            <!-- logo for regular state and mobile devices -->
            <span class="logo-lg"><b>管理平台</b></span>
        </a>

        <!-- Header Navbar: style can be found in header.less -->
        <nav class="navbar navbar-static-top">
            <!-- Sidebar toggle button-->
            <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
                <span class="sr-only">Toggle navigation</span>
            </a>
            <!-- Navbar Right Menu -->
            <div class="navbar-custom-menu">
                <ul class="nav navbar-nav">

                    <!-- User Account: style can be found in dropdown.less -->
                    <li class="dropdown user user-menu">
                        <a href="@{/profile}" class="dropdown-toggle" data-toggle="dropdown">
                            <span class="hidden-xs" th:text="${user.username}">root</span>
                        </a>
                    </li>
                </ul>
            </div>

        </nav>
    </header>
    <!-- Left side column. contains the logo and sidebar -->
    <aside class="main-sidebar" th:remove="all">
        <!-- sidebar: style can be found in sidebar.less -->
        <section class="sidebar">

            <!-- sidebar menu: : style can be found in sidebar.less -->
            <ul class="sidebar-menu">

                <!--Multilevel-->
                <li class="treeview" th:each="nav:${navs}">
                    <a href="#" th:href="@{${nav.url}">
                        <span th:text="${nav.label}">label</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
                    </a>
                    <ul class="treeview-menu" th:each="second:${navs.children}">
                        <li><a href="#" th:href="@{${second.url}"><i class="fa fa-circle-o"></i> <span
                                th:text="${second.label}">label</span></a></li>
                    </ul>
                </li>

            </ul>
        </section>
        <!-- /.sidebar -->
    </aside>
    <div th:replace="header"></div>
    <div th:replace="sidebar"></div>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper" style="width:100%;height:100%;">


        <!-- Main content -->
        <section class="content" style="width:100%;height:100%;">
				<iframe name="myiframe" id="myrame" th:src="@{/thymeleaf/index_content.html}" frameborder="0" align="left" width="87%" height="100%"/>
        		<!-- /.87 -->
        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->

</div>

<div th:replace="script"></div>
<div th:remove="all">
    <!-- jQuery 2.2.3 -->
    <script src="../plugins/jQuery/jquery-2.2.3.min.js"></script>
    <!-- Bootstrap 3.3.6 -->
    <script src="../bootstrap/js/bootstrap.min.js"></script>
    <!-- FastClick -->
    <script src="../plugins/fastclick/fastclick.js"></script>
    <!-- AdminLTE App -->
    <script src="../dist/js/app.min.js"></script>
    <!-- Sparkline -->
    <script src="../plugins/sparkline/jquery.sparkline.min.js"></script>

    <!-- SlimScroll 1.3.0 -->
    <script src="../plugins/slimScroll/jquery.slimscroll.min.js"></script>

    <!-- DataTables -->
    <script src="../plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="../plugins/datatables/dataTables.bootstrap.min.js"></script>
</div>
</body>
</html>