<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="head"></div>
    <!-- DataTables -->
    <link rel="stylesheet" href="../plugins/datatables/dataTables.bootstrap.css"/>
    <title>反馈管理</title>
</head>
<body class="hold-transition skin-blue sidebar-mini ">
<div class="wrapper">

    <div th:replace="header"></div>
    <div th:replace="sidebar"></div>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">


        <!-- Main content -->
        <section class="content">
            <div class="row">
                <div class="col-xs-12">

                    <div class="box">
                        <div class="box-body">
                            <table id="dataTable" class="table table-bordered table-striped">
                                <thead>
	                                <tr>
	                                    <th>用户</th>
	                                    <th>反馈类型</th>
	                                    <th>反馈内容</th>
	                                    <th>是否回复</th>
	                                    <th>回复内容</th>
	                                    <th>反馈时间</th>
	                                    <th>回复时间</th>
	                                    <th style="text-align: center">操作</th>
	                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="item:${list}">
                                    <td th:text="${item.telephone}"></td>
                                    <td th:text="${item.feedbackType}"></td>
                                    <td th:text="${item.feedbackContent}"></td>
                                    <div th:switch="${item.isReplied}">
									  <td th:case=1>是</td>
									  <td th:case=0>否</td>
									</div>
									<td th:text="${item.isReplied}==1? ${item.replyContent}:''"></td>
                                    <td th:text="${item.feedbackTime}? ${#dates.format(item.feedbackTime,'yyyy/MM/dd HH:mm:ss')}:''"></td>
                                    <td th:text="${item.replyTime}?    ${#dates.format(item.replyTime,'yyyy/MM/dd HH:mm:ss')}:''"></td>
                                    <th style="text-align: center">
	                                    <a th:href="${item.isReplied}==0? @{/feedback/{id}/replyUI(id=${item.id})}:'#'">
		                                    <span style="cursor: pointer" th:class="${item.isReplied}==1?'btn btn-default disabled':'btn btn-info'" title="回复">回复</span>
	                                    </a>
	                                    <a th:href="${item.isReplied}==1? @{/feedback/{id}/viewUI(id=${item.id})}:'#'">
		                                    <span style="cursor: pointer" th:class="${item.isReplied}==0?'btn btn-default disabled':'btn btn-info'" title="查看">查看</span>
	                                    </a>
                                    </th>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <!-- /.box-body -->
                    </div>
                    <!-- /.box -->
                </div>
                <!-- /.col -->
            </div>

        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->


</div>

<div th:replace="script"></div>

<!-- page script -->
<script>
    $(function () {
        $('#dataTable').DataTable({
            "paging": true,
            "lengthChange": true,
            "searching": false,
            "ordering": true,
            "info": true,
            "autoWidth": false,
            "aLengthMenu": [10, 20, 50,100],
            "oLanguage": {
				"sInfo": "当前显示 _START_ 到 _END_ 条，共 _TOTAL_ 条记录", ///设置显示语言 默认英文
				"sLengthMenu": "每页显示 _MENU_ 条记录", ///设置显示语言 默认英文
				"sZeroRecords": "对不起，查询不到相关数据！", ///设置显示语言 默认英文
				"oPaginate": {
                 "sFirst": "首页",
                 "sPrevious": "上页",
                 "sNext": "下页",
                 "sLast": "末页"
             }
			},
			pagingType: "full_numbers"//分页样式的类型
        });
    });
</script>
<script th:src="@{/js/list-page.js}"></script>
</body>
</html>