<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>反馈管理</title>
    <div th:replace="head"></div>
</head>

<body class="hold-transition skin-blue sidebar-mini ">
<div class="wrapper">

    <div th:replace="header"></div>
    <div th:replace="sidebar"></div>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">

        <!-- Main content -->
        <section class="content">

            <div class="row">
                <div class="col-md-12">
                    <!-- Horizontal Form -->
                    <div class="box box-info">
                        <div class="box-header with-border">
                            <h3 class="box-title">反馈管理</h3>
                        </div>
                        <!-- /.box-header -->
                        <!-- form start -->
                        <form class="form-horizontal" th:action="@{${api}}" method="post">
                        	<input type="hidden" name="id" th:value="${feedback.id}"/>
                            <div class="box-body">
                                <div class="form-group">
                                    <label for="inputEmail3" class="col-sm-2 control-label">反馈内容</label>
                                    <div class="col-sm-5">
                                        <textarea th:text="${feedback}? ${feedback.feedbackContent}" class="form-control" 
                                           disabled="true" rows="10"></textarea>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="inputEmail3" class="col-sm-2 control-label">回复内容</label>
                                    <div class="col-sm-5">
                                        <textarea name="replyContent" class="form-control" required="required" maxlength="300" rows="10"/>
                                   		</textarea>
                                    </div>
                                </div>
                                <br/><br/>
                            </div>
                            <!-- /.box-body -->
                            <div class="box-footer" style="margin-left: 35%;">
                                <button type="submit" class="btn btn-info">Submit</button>
                            </div>
                            <!-- /.box-footer -->
                        </form>
                    </div>
                    <!-- /.box -->

                </div>
            </div>
            <!-- /.row -->

        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->

    <div th:replace="footer"></div>
</div>
<!-- ./wrapper -->
<div th:replace="script"></div>

</body>
</html>