
#panel {
	color: 0x666666;
	width:  0px auto;
	margin: 0px;
}

#panel button {
	margin: 0px;
	line-height:25px;
	float:left;
	width:110px;
}

#panel btn_r1 {
	background-color: black;
	float:right;
	width:110px;
}


#content {
	width:  100%;
	height: 100%;
	margin: 20px;
}

#car {
	height: 300px; 
	width: 100%;
}

#car_table {
	height: 100%; 
	width: 30%; 
	max-width: 500px;
	float: left;
}

#car_table span{
	color: orange; 
	font-size: 30px;
	font-weight: 1;
}

#car_status_img {
	width: 70%; 
	max-width: 650px;
	max-height : 100%; 
	float: center;
}


#tasks {
	width:  100%;
	height: 100%;
	margin-top: 30px;
}


#task_stream {
	width:  43%;
	max-width: 520px;
	height: 100%;
	float: left;
}


#task_scan {
	width:  57%;
	max-width: 650px;
	height: 100%;
	float: left;	
}

#statistics_data span{
	color: black; 
	font-size: 30px;
	font-weight: 1;
}

#chart-area {
  height: 120px;
  width: 90%;
  background: #000;
  border: 1px solid #000;
  //box-shadow: 0 22px 35px -16px rgba(0, 0, 0, 0.71);
  max-width: 650px;
  margin: 5px auto;
  margin-left: 40px;
  margin-right: 20px;
}

