<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="head"></div>
    <!-- DataTables -->
    <link rel="stylesheet" href="../plugins/datatables/dataTables.bootstrap.css"/>
    <title>权限管理</title>
</head>

<body class="hold-transition skin-blue sidebar-mini ">
<div class="wrapper">

    <div th:replace="header"></div>
    <div th:replace="sidebar"></div>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">


        <!-- Main content -->
        <section class="content">
            <div class="row">
                <div class="col-xs-12">

                    <div class="box">
                        <div class="box-header">
                            <a th:href="@{/resource/form}" title="新增权限"><span class="glyphicon glyphicon-plus"></span></a>
                        </div>

                        <div class="box-body">
                            <table id="dataTable" class="table table-bordered table-striped">
                                <thead>
                                <tr>
                                    <th>名称</th>
                                    <th>url</th>
                                    <th>描述</th>
                                    <th>状态</th>
                                    <th style="text-align: center">切换状态</th>
                                    <th>修改</th>
                                    <th style="text-align: center">删除</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="item:${list}">
                                    <td th:text="${item.title}">名称</td>
                                    <td th:text="${item.url}">url</td>
                                    <td th:text="${item.description}">描述</td>
                                    <td th:text="${item.disabled}?'禁用':'启用'" id="status">status</td>
                                    <td style="text-align: center">
                                        <span name="lock" title="切换状态"
                                              th:data="@{/resource/{id}/status(disable=${!item.disabled},id=${item.id})}"
                                              style="cursor: pointer" class="glyphicon glyphicon-lock"></span>

                                    </td>
                                    <td style="text-align: center">
                                        <a th:href="@{/resource/form(id=${item.id})}"><span class="glyphicon glyphicon-edit"
                                                                                        title="编辑"></span></a>
                                    </td>
                                    <td style="text-align: center">

                                        <span name="trash" title="删除" th:data="@{/resource/{id}/delete(id=${item.id})}"
                                              style="cursor: pointer" class="glyphicon glyphicon-trash"></span>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <!-- /.box-body -->
                    </div>
                    <!-- /.box -->
                </div>
                <!-- /.col -->
            </div>

        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->


</div>

<div th:replace="script"></div>

<!-- page script -->
<script>
    $(function () {
        $('#dataTable').DataTable({
            "paging": true,
            "lengthChange": true,
            "searching": false,
            "ordering": true,
            "info": true,
            "autoWidth": false,
            "aLengthMenu": [10, 20, 50,100],
            "oLanguage": {
				"sInfo": "当前显示 _START_ 到 _END_ 条，共 _TOTAL_ 条记录", ///设置显示语言 默认英文
				"sLengthMenu": "每页显示 _MENU_ 条记录", ///设置显示语言 默认英文
				"sZeroRecords": "对不起，查询不到相关数据！", ///设置显示语言 默认英文
				"oPaginate": {
                 "sFirst": "首页",
                 "sPrevious": "上页",
                 "sNext": "下页",
                 "sLast": "末页"
             }
			},
			pagingType: "full_numbers"//分页样式的类型
        });
    });
</script>
<script th:src="@{/js/list-page.js}"></script>
</body>
</html>