<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="head"></div>
    <!-- DataTables -->
    <link rel="stylesheet" href="../plugins/datatables/dataTables.bootstrap.css"/>
    <title>车辆管理</title>
</head>
<script type="text/javascript">
	function check(){
		var r=confirm("确定要删除吗？");
		if (r==true){
			return true;
		}else{
			return false;
		}
	}
</script>

<body class="hold-transition skin-blue sidebar-mini ">
<div class="wrapper">

    <div th:replace="header"></div>
    <div th:replace="sidebar"></div>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Main content -->
        <section class="content">
            <div class="row">
                <div class="col-xs-12">
                    <div class="box">
                        <div class="box-header">
                            <a th:href="@{/car/form}" title="新增车辆"><span class="glyphicon glyphicon-plus"></span></a>
                        </div>
                        <div class="box-body">
                            <table id="dataTable" class="table table-bordered table-striped">
                                <thead>
	                                <tr>
	                                    <th>车辆VIN码</th>
	                                    <th>品牌</th>
	                                    <th>车型</th>
	                                    <th>车身颜色</th>
	                                    <th>电量</th>
	                                    <th>续航里程</th>
	                                    <th>状态</th>
	                                    <th>上架时间</th>
	                                    <th>工控机编号</th>
	                                    <th style="text-align: center">修改</th>
	                                    <th style="text-align: center">详情</th>
	                                    <th style="text-align: center">删除</th>
	                                    <th style="text-align: center">视频监控</th>
	                                    <th style="text-align: center">位置监控</th>
	                                    <th style="text-align: center">远程控制</th>
	                                    <th style="text-align: center">路线规划</th>
	                                </tr>
                                </thead>
                                <tbody>
	                                <tr th:each="item:${list}">
	                                    <td th:text="${item.vinCode}"></td>
	                                    <td th:text="${item.brand}"></td>
	                                    <td th:text="${item.vehicleModel}"></td>
	                                    <td th:text="${item.color}"></td>
	                                    <td th:text="${item.remainElectricity}"></td>
	                                    <td th:text="${item.enduranceMileage}"></td>
	                                    <div th:if="${item.status!=null}" th:switch="${item.status}">
										  <td th:case="1">待使用</td>
										  <td th:case="2">使用中</td>
										  <td th:case="3">维护中</td>
										  <td th:case="">未知状态</td>
										</div>
	                                    <td th:text="${#dates.format(item.create_time,'yyyy/MM/dd HH:mm:ss')}">url</td>
	                                    <td th:text="${item.ipcId}"></td>
	                                    <td style="text-align: center">
	                                        <a th:href="@{/car/form(id=${item.id})}">
	                                        <span class="glyphicon glyphicon-edit" title="编辑"></span>
	                                        </a>
	                                    </td>
	                                    <td style="text-align: center">
		                                    <a th:href="@{/car/{id}/view(id=${item.id})}">
			                                    <span style="cursor: pointer" class="glyphicon glyphicon-eye-open" title="详情"></span>
		                                    </a>
	                                    </td>
	                                    <td style="text-align: center">
		                                    <a th:href="@{/car/{id}/delete(id=${item.id})}">
		                                        <span name="trash" title="删除" style="cursor: pointer" class="glyphicon glyphicon-trash"></span>
		                                    </a>
	                                    </td>
	                                    <td style="text-align: center">
		                                    <a th:href="@{/car/{id}/vedioMonitor(id=${item.id})}">
		                                        <span name="vedioMonitor" title="视频监控"  style="cursor: pointer" class="glyphicon glyphicon-screenshot"></span>
		                                    </a>
	                                    </td>
	                                    <td style="text-align: center">
	                                    	<a th:onclick="|javascript:realtimeMonitor('${item.ipcId}')|">
	                                        	<span name="locationMonitor" title="位置监控" style="cursor: pointer" class="glyphicon glyphicon-map-marker"></span>
	                                   		</a>
	                                    </td>
	                                    <td style="text-align: center">
	                                    	<a th:href="@{/carRemoteControl/{id}/init(id=${item.id})}">
	                                        	<span name="remoteControl" title="远程控制" style="cursor: pointer" class="glyphicon glyphicon-record"></span>
	                                    	</a>
	                                    </td>
	                                    <td style="text-align: center">
	                                    	<a th:href="@{/carPathPlan/{id}/init(id=${item.id})}">
	                                        	<span name="remoteControl" title="路线规划" style="cursor: pointer" class="glyphicon glyphicon-road"></span>
	                                    	</a>
	                                    </td>
	                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <!-- /.box-body -->
                    </div>
                    <!-- /.box -->
                </div>
                <!-- /.col -->
            </div>
        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->
</div>
<div th:replace="script"></div>
<!-- page script -->
<script th:inline="javascript">
    $(function () {
        $('#dataTable').DataTable({
            "paging": true,
            "lengthChange": true,
            "searching": false,
            "ordering": true,
            "info": true,
            "autoWidth": false,
            "aLengthMenu": [10, 20, 50,100],
            "oLanguage": {
				"sInfo": "当前显示 _START_ 到 _END_ 条，共 _TOTAL_ 条记录", ///设置显示语言 默认英文
				"sLengthMenu": "每页显示 _MENU_ 条记录", ///设置显示语言 默认英文
				"sZeroRecords": "对不起，查询不到相关数据！", ///设置显示语言 默认英文
				"oPaginate": {
                "sFirst": "首页",
                "sPrevious": "上页",
                "sNext": "下页",
                "sLast": "末页"
            	}
			},
			pagingType: "full_numbers"//分页样式的类型
        });
    });
    function realtimeMonitor(ipcId){
    	var url = [[${vcmServiceUrl}]];
    	window.open(url+"?ipcId="+ipcId);
    }
</script>
<script th:src="@{/js/list-page.js}"></script>
</body>
</html>