<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no, width=device-width"/>
	
    <title>车辆详情</title>
    <link rel="stylesheet" href="http://cache.amap.com/lbs/static/main1119.css"/>
    <script src="http://cache.amap.com/lbs/static/es5.min.js"></script>
    <script src="http://webapi.amap.com/maps?v=1.4.13&amp;key=d806f8e3fcd87aae95ac648d5f4ba84d"></script> 
	<script src="https://unpkg.com/vue@2.5.21/dist/vue.js"></script>
	<script src="/thymeleaf/js/apexcharts.js"></script>
	<link rel="stylesheet" type="text/css" href="/thymeleaf/css/view-car.css">
	<style type="text/css">
       #container{
          width:100%;
          height:100%;
          position:relative;
          overflow:hidden;
          min-height:400px;
       }
    </style>
	
	<div th:replace="head"></div>
</head>

<body class="hold-transition skin-blue sidebar-mini ">
<div class="wrapper">

    <div th:replace="header"></div>
    <div th:replace="sidebar"></div>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">

        <!-- Main content -->
        <section class="content">

            <div class="row">
                <div class="col-md-5">
                    <!-- Horizontal Form -->
                    <div class="form-group">
						<img src="../../thymeleaf/images/singulato.jpg" style="width:100%;height:100%;" class="img-responsive"></img>
                    </div>
                    <div class="form-horizontal">
                    	<h4 style="font-weight:bold;padding-margin:20px;">车辆信息</h4>
                    		<div>
	                    		<div>
			                    	<label class="text-left" width="200px;">车辆VIN码</label>
			                    	<span class="text-left" th:text="${car.vinCode}" style="padding-left:60px;"></span><br/>
			                    </div>
			                    <div>
			                    	<label class="text-left" width="200px;">车牌号</label>
			                    	<span class="text-left" th:text="${car.plateNumber}" style="padding-left:85px;"></span><br/>
			                    </div>
			                    <div>
			                    	<label class="text-left" width="200px;">车身颜色</label>
			                    	<span class="text-left" th:text="${car.color}" style="padding-left:70px;"></span><br/>
			                    </div>
			                    <div>	
			                    	<label class="text-left" width="200px;">剩余电量</label>
			                    	<span class="text-left" th:text="${carStatus.remainElectricity}" style="padding-left:70px;"></span><br/>
			                    </div>
			                    <div>
			                    	<label class="text-left" width="200px;">上架时间</label>
			                    	<span class="text-left" th:text="${car.create_time}" style="padding-left:70px;"></span><br/>
	                    		</div>
                    		</div>
                    </div>
                    <div class="form-group">
                    	<h4 style="font-weight:bold;">最近位置</h4>
                    </div>
                    <div class="form-group">
                    	<div id="container" tabindex="0"></div>
                    </div>
                </div>
                <div class="col-md-7">
                	<div id="panel">
						<button id="btn_1">{{ tab1 }}</button>
						<button id="btn_2">{{ tab2 }}</button>
						<button id="btn_3">{{ tab3 }}</button>
					</div>
					<br>	
					<div id="content">
						<span style="font-size: 14px">车辆状态</span>
						<div id="car" style="">
							<table id="car_table" border="0">
								<tr>
									<td>
										<div>
											电量<br>
											<span id="status_buttry" style="color: red;" th:text="${carStatus.remainElectricity}"></span>
										</div>
									</td>
									<td>
										<div>
											续航里程<br>
											<span id="status_mil" th:text="${carStatus.enduranceMileage}"></span>
										</div>
									</td>
								</tr>
				
								<tr>
									<td>
										车速<br>
										<span style="color: green;" id="status_speed" th:text="${carStatus.speed}">km/h</span>
									</td>
									<td>
										里程<br>
										<span style="color: green;" id="status_seat_count" th:text="${carStatus.mileage}"></span>
									</td>
								</tr>
				
								<tr>
									<td>
										行驶时长<br>
										<span style="color: green;" id="status_temperature" th:text="${carStatus.travelTime}"></span>
									</td>
									<td>
										最后在线时间<br>
										<span style="color: green;" id="status_music" th:text="${carStatus.lastPowerOnTime}"></span>
									</td>
								</tr>
							</table>
							<img id="car_status_img" src="/thymeleaf/images/1545271886111.jpg" />
						</div>
						<div id="tasks">
							<div id="task_stream">
								<!-- 标题：任务列表 -->
								<span style="width: 80%; float: left;">任务流</span>
				
								<select style="width: 20%; float: left;margin-bottom:20px;"  class="form-control">
									<option value="all">所有类型</option>
				  					<option value="normal">等待预约</option>
				  					<option value="safeguard">预约去上车点</option>
				  					<option value="normal">到达上车点</option>
				  					<option value="safeguard">行驶中</option>
				  					<option value="normal">到达目的地</option>
				  					<option value="safeguard">乘客已上车</option>
								</select>
				
								<!-- 任务列表 -->
								<li v-for="item in orders" style="list-style:none; margin-top: 10px; width: 100%;">
									<div style="width: 100%; margin: 5px;">
				
										<span style="float: right; font-size: 12px; color: gray; margin-right: 10px;">{{ item.time }}</span>
										
										<img style="width: 30px; height: 30px;float: left; margin-top: 8px;" src="/thymeleaf/images/icon_car.png"/>
										
										<div style="margin-left: 80px;float: center;">
											<span style="font-size: 13px; color:black;">{{item.content}}</span><br>
				
											<span style="font-size: 12px; color:gray; padding-top: 16px;">{{item.des}}</span>
										</div>
				
									</div>
									
								</li>
				
							</div>
				
							<div id="task_scan"  >
								<!-- 标题： 统计部分 -->
								<span style="width: 200px; padding-left: 40px; "><strong>行驶趋势</strong></span>
				
								<select style="width: 60px; float: right; margin-left: 15px; margin-right: 15px;"  class="form-control">
									<option value="">1月</option>
				  					<option value="">2月</option>
				  					<option value="">3月</option>
				  					<option value="">4月</option>
				  					<option value="">5月</option>
				  					<option value="">6月</option>
				  					<option value="">7月</option>
				  					<option value="">8月</option>
				  					<option value="">9月</option>
				  					<option value="">10月</option>
				  					<option value="">11月</option>
				  					<option value="">12月</option>
				  					<!-- ... TODO -->
								</select>
				
								<select style="width: 100px; float: right;"  class="form-control">
									<option value="mil_count">里程</option>
				  					<option value="buttry">电量</option>
								</select>
				
								<!-- 走势图表 -->
							   <div id="chart-area" style="margin-top:30px;">
							   </div>
								
								<!-- 效率数据值 -->
								<div style="padding-left: 40px; width: 100%; max-width: 650px; height: 60px; margin-top: 10px;">
									<div  id="statistics_data" style="float: left; height: 100%; width: 25%;">
											运营效率<br>
											<span style="color: green;" id="status_seat_count">66%</span>				
									</div>
				
									<div  id="statistics_data" style="float: left; height: 100%; width: 25%;">
											准点率<br>
											<span style="color: green;" id="status_seat_count">76%</span>
									</div>
				
									<div  id="statistics_data" style="float: left; height: 100%; width: 25%;">
											总车费<br>
											<span style="color: green;" id="status_seat_count">420元</span>
									</div>
				
									<div  id="statistics_data" style="float: left; height: 100%; width: 25%;">
											可靠性<br>
											<span style="color: green;" id="status_seat_count">80%</span>
									</div>
								</div>		
							</div>
						</div>
					</div>
				<script src="/thymeleaf/js/panel.js"></script>
				<script src="/thymeleaf/js/car.js"></script>
				<script src="/thymeleaf/js/order.js"></script>
				<script src="/thymeleaf/js/chart.js"></script>
                </div>
            </div>
            <!-- /.row -->
        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->
    <div th:replace="footer"></div>
</div>
<!-- ./wrapper -->
<div th:replace="script"></div>
<script th:inline="javascript">
    //创建地图,设定地图的中心点和级别,中心点坐标不能是null
    var carStatus = [[${carStatus}]];
    var lon = carStatus.lon;
    var lat = carStatus.lat;
    if(!lon){
    	lon=121.1623800000;
    }
    if(!lat){
    	lat=31.2960500000;
    }
    console.log(lon);
    console.log(lat);
    var map = new AMap.Map('container', {
        resizeEnable: true,
        zoom:15,
        center: [lon,lat]
    });
	new AMap.Marker({
        	position: [lon,lat],
       		map:map
    	});
    //信息窗体的创建与设定
    var infowindow = new AMap.InfoWindow({
        content: '<h3>高德地图</h3><div>高德是中国领先的数字地图内容、导航和位置服务解决方案提供商。</div>',
        offset: new AMap.Pixel(0, -30),
        size:new AMap.Size(230,0)
   });
</script>
</body>
</html>