<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="head"></div>
    <!-- DataTables -->
    <link rel="stylesheet" href="../plugins/datatables/dataTables.bootstrap.css"/>
    <title>订单管理</title>
</head>
<script type="text/javascript">
	function check(){
		var r=confirm("确定要删除吗？");
		if (r==true){
			return true;
		}else{
			return false;
		}
	}
</script>

<body class="hold-transition skin-blue sidebar-mini ">
<div class="wrapper">

    <div th:replace="header"></div>
    <div th:replace="sidebar"></div>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">


        <!-- Main content -->
        <section class="content">
            <div class="row">
                <div class="col-xs-12">

                    <div class="box">
                        <div class="box-body">
                            <table id="dataTable" class="table table-bordered table-striped">
                                <thead>
	                                <tr>
	                                    <th>订单号</th>
	                                    <th>订单状态</th>
	                                    <th>用户</th>
	                                    <th>起始点</th>
	                                    <th>目的地</th>
	                                    <th>车辆</th>
	                                    <th>创建时间</th>
	                                    <th>开始时间</th>
	                                    <th>到达时间</th>
	                                    <th>完成时间</th>
	                                    <th>取消时间</th>
	                                    <th>订单金额(元)</th>
	                                    <th>订单里程(km)</th>
	                                    <th style="text-align: center">查看轨迹</th>
	                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="item:${list}">
                                    <td th:text="${item.orderCode}"></td>
                                    <div th:switch="${item.orderStatus}">
									  <td th:case="1">已预约</td>
									  <td th:case="2">进行中</td>
									  <td th:case="3">已取消</td>
									  <td th:case="4">待支付</td>
									  <td th:case="5">待评价</td>
									  <td th:case="6">已完成</td>
									  <td th:case="7">取消后待支付</td>
									  <td th:case="8">取消后已支付</td>
									</div>
                                    <td th:text="${item.username}"></td>
                                    <td th:text="${item.startAddress}"></td>
                                    <td th:text="${item.endAddress}"></td>
                                    <td th:text="${item.carId}"></td>
                                    <td th:if="${item.createTime!=null}" th:text="${item.createTime}? ${#dates.format(item.createTime,'yyyy/MM/dd HH:mm:ss')}:''"></td>
                                    <td th:if="${item.createTime!=null}" th:text="${item.startTime}? ${#dates.format(item.startTime,'yyyy/MM/dd HH:mm:ss')}:''"></td>
                                    <td th:if="${item.createTime!=null}" th:text="${item.arriveTime}? ${#dates.format(item.arriveTime,'yyyy/MM/dd HH:mm:ss')}:''"></td>
                                    <td th:if="${item.createTime!=null}" th:text="${item.finishTime}? ${#dates.format(item.finishTime,'yyyy/MM/dd HH:mm:ss')}:''"></td>
                                    <td th:if="${item.createTime!=null}" th:text="${item.cancelTime}? ${#dates.format(item.cancelTime,'yyyy/MM/dd HH:mm:ss')}:''"></td>
                                    <td th:if="${item.createTime!=null}" th:text="${item.originalFee}? ${item.originalFee/100}:''"></td>
                                    <td th:if="${item.createTime!=null}" th:text="${item.orderMileage}? ${item.orderMileage/1000}:''"></td>
                                    <th style="text-align: center">
	                                    <a th:href="@{/orders/{orderCode}/track(orderCode=${item.orderCode})}">
		                                    <span style="cursor: pointer" class="glyphicon glyphicon-eye-open" title="详情"></span>
	                                    </a>
                                    </th>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <!-- /.box-body -->
                    </div>
                    <!-- /.box -->
                </div>
                <!-- /.col -->
            </div>

        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->


</div>

<div th:replace="script"></div>

<!-- page script -->
<script>
    $(function () {
        $('#dataTable').DataTable({
            "paging": true,
            "lengthChange": true,
            "searching": false,
            "ordering": true,
            "info": true,
            "autoWidth": false,
            "aLengthMenu": [10, 20, 50,100],
            "oLanguage": {
				"sInfo": "当前显示 _START_ 到 _END_ 条，共 _TOTAL_ 条记录", ///设置显示语言 默认英文
				"sLengthMenu": "每页显示 _MENU_ 条记录", ///设置显示语言 默认英文
				"sZeroRecords": "对不起，查询不到相关数据！", ///设置显示语言 默认英文
				"oPaginate": {
                 "sFirst": "首页",
                 "sPrevious": "上页",
                 "sNext": "下页",
                 "sLast": "末页"
             }
			},
			pagingType: "full_numbers"//分页样式的类型
        });
    });
</script>
<script th:src="@{/js/list-page.js}"></script>
</body>
</html>