<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="head"></div>
    <!-- DataTables -->
    <link rel="stylesheet" href="../plugins/datatables/dataTables.bootstrap.css"/>
    <title>会员管理</title>
</head>
<script type="text/javascript">
	function check(){
		var r=confirm("确定要删除吗？");
		if (r==true){
			return true;
		}else{
			return false;
		}
	}
</script>

<body class="hold-transition skin-blue sidebar-mini ">
<div class="wrapper">

    <div th:replace="header"></div>
    <div th:replace="sidebar"></div>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">


        <!-- Main content -->
        <section class="content">
            <div class="row">
                <div class="col-xs-12">

                    <div class="box">
                        <div class="box-body">
                            <table id="dataTable" class="table table-bordered table-striped">
                                <thead>
                                <tr>
                                    <th>用户名/手机号码</th>
                                    <th>昵称</th>
                                    <th>真实姓名</th>
                                    <th>注册时间</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="item:${list}">
                                    <td th:text="${item.telephone}"></td>
                                    <td th:text="${item.nickname}"></td>
                                    <td th:text="${item.realname}"></td>
                                    <td th:text="${#dates.format(item.create_time,'yyyy/MM/dd HH:mm')}">url</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <!-- /.box-body -->
                    </div>
                    <!-- /.box -->
                </div>
                <!-- /.col -->
            </div>

        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->


</div>

<div th:replace="script"></div>

<!-- page script -->
<script>
    $(function () {
        $('#dataTable').DataTable({
            "paging": true,
            "lengthChange": true,
            "searching": false,
            "ordering": true,
            "info": true,
            "autoWidth": false,
            "aLengthMenu": [10, 20, 50,100],
            "oLanguage": {
				"sInfo": "当前显示 _START_ 到 _END_ 条，共 _TOTAL_ 条记录", ///设置显示语言 默认英文
				"sLengthMenu": "每页显示 _MENU_ 条记录", ///设置显示语言 默认英文
				"sZeroRecords": "对不起，查询不到相关数据！", ///设置显示语言 默认英文
				"oPaginate": {
                 "sFirst": "首页",
                 "sPrevious": "上页",
                 "sNext": "下页",
                 "sLast": "末页"
             }
			},
			pagingType: "full_numbers"//分页样式的类型
        });
    });
</script>
<script th:src="@{/js/list-page.js}"></script>
</body>
</html>