<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="head"></div>
    <!-- DataTables -->
    <link rel="stylesheet" href="../plugins/datatables/dataTables.bootstrap.css"/>
    <title>运营范围</title>
</head>
<script type="text/javascript">
	function check(){
		var r=confirm("确定要删除吗？");
		if (r==true){
			return true;
		}else{
			return false;
		}
	}
</script>

<body class="hold-transition skin-blue sidebar-mini ">
<div class="wrapper">

    <div th:replace="header"></div>
    <div th:replace="sidebar"></div>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">


        <!-- Main content -->
        <section class="content">
            <div class="row">
                <div class="col-xs-12">

                    <div class="box">
                        <div class="box-header">
                            <a th:href="@{/systemVariable/addOperationRegionUI}" title="新增运营区域"><span class="glyphicon glyphicon-plus"></span></a>
                        </div>

                        <div class="box-body">
                            <table id="dataTable" class="table table-bordered table-striped">
                                <thead>
	                                <tr>
	                                    <th>名称</th>
	                                    <th>坐标范围</th>
	                                    <th>中心坐标</th>
	                                    <th>中心位置</th>
	                                    <th>创建时间</th>
	                                    <th>更新时间</th>
	                                    <th>修改</th>
	                                    <th style="text-align: center">详情</th>
	                                    <th style="text-align: center">删除</th>
	                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="item:${list}">
                                    <td th:text="${item.variableName}"></td>
                                    <td ></td>
                                    <td ></td>
                                    <td ></td>
                                    <td th:text="${#dates.format(item.createTime,'yyyy/MM/dd HH:mm:ss')}"></td>
                                    <td th:text="${#dates.format(item.updateTime,'yyyy/MM/dd HH:mm:ss')}"></td>
                                    <td style="text-align: center">
                                        <a th:href="@{/systemVariable/{id}/updateOperationRegionUI(id=${item.id})}">
                                        <span class="glyphicon glyphicon-edit" title="编辑"></span>
                                        </a>
                                    </td>
                                    <th style="text-align: center">
	                                    <a th:href="@{/systemVariable/{id}/view(id=${item.id})}">
		                                    <span style="cursor: pointer" class="glyphicon glyphicon-eye-open" title="详情"></span>
	                                    </a>
                                    </th>
                                    <td style="text-align: center">
                                        <span name="trash" title="删除" th:data="@{/systemVariable/{id}/delete(id=${item.id})}" style="cursor: pointer" class="glyphicon glyphicon-trash"></span>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <!-- /.box-body -->
                    </div>
                    <!-- /.box -->
                </div>
                <!-- /.col -->
            </div>

        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->


</div>

<div th:replace="script"></div>

<!-- page script -->
<script>
    $(function () {
        $('#dataTable').DataTable({
            "paging": true,
            "lengthChange": true,
            "searching": false,
            "ordering": true,
            "info": true,
            "autoWidth": false,
            "aLengthMenu": [10, 20, 50,100],
            "oLanguage": {
				"sInfo": "当前显示 _START_ 到 _END_ 条，共 _TOTAL_ 条记录", ///设置显示语言 默认英文
				"sLengthMenu": "每页显示 _MENU_ 条记录", ///设置显示语言 默认英文
				"sZeroRecords": "对不起，查询不到相关数据！", ///设置显示语言 默认英文
				"oPaginate": {
                 "sFirst": "首页",
                 "sPrevious": "上页",
                 "sNext": "下页",
                 "sLast": "末页"
             }
			},
			pagingType: "full_numbers"//分页样式的类型
        });
    });
</script>
<script th:src="@{/js/list-page.js}"></script>
</body>
</html>